body {
  background-color: #ff994c;
  text-align: center
}
h1 {
  color: #fe6d00
}
p {
  color: black
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: #808080; 
  border: 2px solid #808080;
}

.button1:hover {
  background-color: #808080;
  color: white;
}
h2 {
font-size: 25.5vw;
}
.fade-in-text h2 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
